/* Le rectangle de fond qui couvre toute la largeur */
.header-bg {
  background-color: #C95C54;          /* rouge foncé */
  width: 100%;
  margin: 0;                          /* colle aux bords */
  padding: 20px 40px;                 /* espace interne global */
  box-sizing: border-box;
  border-bottom-left-radius: 30px;    /* coins arrondis bas */
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* La grille interne du header (titre centré, logo à droite) */
.header {
  display: grid;
  grid-template-columns: 1fr auto;    /* colonne titre + colonne logo */
  align-items: center;
}

/* Titre */
.header-title {
  color: white; /* couleur du texte */
  font-family: 'Lily Script One', cursive;
  font-size: 2.5768rem;
  margin: 0;
  text-align: center;

  /* Contour noir autour des lettres */
  -webkit-text-stroke: 1px black;

  /* Pour les navigateurs compatibles */
  text-stroke: 1px black;
}


/* Logo */
.header-logo {
  height: 40px;
  cursor: pointer;
}

/* Important: retirer les marges par défaut de la page */
html, body {
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .header-title {
    font-size: 1.7rem; /* ajuste la taille  */
  }
  .header-logo{
    height: 30px;
  }
}
